body,html{
    min-height: 100%;
}

.titulo
{
    width: 100%;
    text-align: center;
    background-image: url(../images/fondoNuevo.jpg);
    padding: 3em;
    height: 20em;
}

.tituloh3{
    font-size: 3.5em;
    color: white;
    position: relative;
    top: 1em;
    letter-spacing: 3.2px;
    font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    
}
.subtituloh6 {
    font-size: 2.5em;
    color: white;
    position: relative;
    top: 1.4em;
    letter-spacing: 3.2px;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fondo
{
   width: 100%;
   padding: 0;
   margin: 0;
   background-image: url(../images/fondo.jpg);
   color: #ffffff;
   font-size: 3em;
       
}

.logoFondo{
    position: relative;
    left: 1em;
    top: -1em;
    width: 160px;
    height: 160px;
    background-image: url(../images/logoIni.png);
    
    
    
}

.logoFondo:hover{
    transition-duration: 0.15s;
    position: relative;
    left: 1em;
    top: -1em;
    width: 160px;
    height: 160px;
    background-image: url(../images/logoFin.png);   
    
    
}

.pre
{
    color: #ffffff;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.contenedor{
    margin-top: 4em;
    display: flex;
    width: 80%;
    position: relative;
    left: 1%;
    flex-flow: wrap;
}
.contenedorArt{
    margin-top: 4em;
    display: flex;
    width: 80%;
    position: relative;
    left: 15%;
    flex-flow: wrap;
    
}

.card{
    margin-left: 7em;
    margin-bottom: 2em;
}

footer{
    width: 100%;
    position: relative;
    text-align: center;
    min-height: 100%;
    bottom: -2em;
}

.bio{
    width: 50em;
    text-align: justify;
    margin-left: 10%;
     
}

.fotobio{
    margin-left: 10em;
    width: 635px;
    height: 590px;
    


}
.biografiaContenedor{
    display: flex;
}

.mostpopular{
    background: #f3ecec;
    position: absolute;
    top: 0;
    right: -23.75%;
    padding: 0.4em;
    width: 30%;
    text-align: center;   
    
    

}
.textArticulo{
    width: 70%;
    position: relative;
    left: 15%;
    
}
.contador{
    border: 4px outset #000000;
    border-radius: 28px;
    margin-bottom: 1.6em;
    margin-top: 2em;
    width: 50%;
    position: relative;
    left: 25%;
    padding-top: 1em;
    
}
.fotoFrase{
    width: 100%;
    height: 100%;

}


