*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif; 
}

body,html{
    min-height: 100%;
}

.titulo
{
    width: 100% !important;
    text-align: center;
    background-image: url(../../static/images/fotoFondo.jpg) ; 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 3em;
    height: fit-content;
}

.tituloh3{
    font-size: 2.5em;
    color: #ffffff;
    position: relative;
    top: 0;
    letter-spacing: 3.2px;
    font-weight: 900;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
    
}
.subtituloh6 {
    font-size: 1.8em;
    color: #ffffff;
    position: relative;
    top: 0.5em;
    letter-spacing: 3.2px;
    font-weight: 700;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 1.2em;
}

.fondo
{
   width: 100%;
   padding: 0;
   margin: 0;
   background-image: url(../images/fondo.jpg);
   color: #ffffff;
   font-size: 3em;
       
}

.pre
{
    color: #ffffff;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.contenedor{
    margin-top: 4em;
    display: flex;
    width: 80%;
    position: relative;
    left: 1%;
    flex-flow: wrap;
}
.contenedorArt{
    margin-top: 4em;
    display: flex;
    width: 80%;
    position: relative;
    left: 15%;
    flex-flow: wrap;
    
}

.card{
    margin-left: 7em;
    margin-bottom: 2em;
}

footer{
    width: 100%;
    position: relative;
    text-align: center;
    min-height: 100%;
    bottom: -2em;
}

.bio{
    width: 40%;
    min-width: 30em;
    text-align: justify;
    margin-left: 10%;
    font:Arial; color: #103e73; font-size: 1em;
     
}

.fotobio{
    margin-left: 5em;    
    margin-right: 2em;
    width: 600px;
    height: 800px; 
    overflow: hidden;  


}
.biografiaContenedor{
    display: flex;
}

.mostpopular{
    position: relative;
    width: 100%;
    text-align: center; 
}
.textArticulo{
    width: 70%;
    position: relative;
    left: 15%;
    
}
.contador{
    border: 4px outset rgba(56, 55, 55, 0.425);
    border-radius: 28px;
    
    
    
}
.fotoFrase{
    width: 100%;
    height: 100%;

}
header{
    width: 100%;
    height: 100px;
    background-color: rgba(31, 71, 117, 1);;
    text-transform: uppercase;
    position: relative;
}

header ul{
    left: 5%;
    width: 100%;
    height: inherit;
    margin: 0px;
}
header ul li{
    display: inline-block;
    margin: 0px;
    height: inherit;
    line-height: 100px;
}

header a{
    display: block;
    padding-right: 1.5em;
    padding-left: 1.5em;
    height: inherit;
    text-decoration:none;
    transition: all 300ms;
    color: white;
}
.logo{
    margin-right: 3em;
}
.links:hover{
    background: rgb(46, 110, 182);
    text-decoration: none;
    color: white;
}
.search-button{
    margin-left: 2px;
    color: white !important;
    border: 1px solid rgb(228, 224, 224) !important;
}
.search-button:hover{
    background-color: rgb(46, 110, 182) !important;
}
.search-bar{
    width: 188px !important;
}

.posts{
    width: 90%;
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.posts li{
    max-width: 50%;

}

.boton{
    border: none;
    background-color: inherit;
    margin-bottom: 1em;
    color: rgb(76, 76, 228);
}


.sobre{
    position: relative;
    width: 80%;
    text-align: justify;
    left: 10%;
    font-size: 1.2em;
}
.content{
    width: 90% !important;
    max-width: 90% !important;
    margin: 0px;
    padding-top: 1.5em;
    box-shadow: 0px 0px 40px black;
    background: rgba(255, 255, 255, 0.7);
}

.additional-info{
    margin-bottom: 1.6em;
    width: 90%;
    position: relative;
    left: 5%;
    padding-top: 1em;
    text-align: center;
}
.post-img{
    float: left;
    width:  300px;
    height: 300px;
    object-fit: cover;
}
.form{
    width: 50%;
    position: relative;
    left: 25%;
    text-align: left;
}
#registerButton{
    left: 40%;
    position: relative;
    width: 20%;
}