body,html{
    min-height: 100%;
}

.titulo
{
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 7%, rgba(190,190,190,1) 100%);
    padding: 0.8em;
}

.fondo
{
   width: 100%;
   padding: 0;
   margin: 0;
   background-image: url(../images/fondou.jpg);
   color: #ffffff;
   font-size: 3em;
       
}
.pre
{
    color: #ffffff;
    font-size: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.contenedor{
    display: flex;
    width: 60%;
    position: relative;
    left: 20%;
    flex-flow: wrap;
}

.card{
    margin-left: 4em;
    margin-bottom: 2em;
}

footer{
    width: 100%;
    position: relative;
    text-align: center;
    min-height: 100%;
    bottom: -2em;
}