*
{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", Helvetica, Arial, Lucida, sans-serif; 
}
.mynav
{
    display: flex;
    background-color: rgba(31, 71, 117, 1);
    width: 100%;
}
ul li
{
    display: inline;
    padding: 0 4em;
}
form
{
    position: absolute;
    right: 1em;
    top: 2.4em;
}
#txtBuscar
{
    padding: 0.2em 2em;
    background-color: ;
}
ul li a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 1;
}
.links
{
 position: absolute;
 top: 2.4em;
 left: 40%;

}
.lnk
{
    padding: 2.4em 1em 1.55em 1em;
}
.lnk:hover
{
    background-color: rgb(46, 110, 182);
}
.btnBuscar
{
    border: none;
    padding: 0.3em 0.8em;
    background-color: rgba(31, 71, 117, 1);
    color: #ffffff;
}