{% extends 'blog/master.html' %}
{% block content %}
<h1 style="text-align: center; margin-top: 2em;"><strong> Mi perfil </strong></h1>
<br><br>
<div class="biografiaContenedor">

   <blockquote class="bio">
    &nbsp&nbsp&nbsp&nbsp Mi nombre es José Davidow. Soy médico, graduado en la Facultad de Medicina
    de la Universidad Nacional de Rosario, especialista en Clínica Médica
    (Medicina Interna) y Terapia Intensiva. Docente de Medicina Interna en la
    Universidad Nacional de Rosario, durante muchos años. Formador de
    Residentes de Clínica Médica. Jefe de una Sala de Terapia Intensiva durante
    30 años. <br> &nbsp&nbsp&nbsp&nbsp
    Cuando era estudiante, fui ayudante de cátedra de Histología, y luego,
    Instructor en la misma Cátedra. Participé en varios trabajos de investigación
    básica. Fue mi experiencia en la producción científica de laboratorio.
    He presidido la Asociación de Medicina Interna de Rosario y la Asociación de
    Terapia Intensiva de Rosario. Soy miembro fundador de la Sociedad Argentina
    de Terapia Intensiva. He participado con ponencias, actuado como panelista y
    presidido Congresos de Medicina Interna y de Terapia Intensiva. <br> &nbsp&nbsp&nbsp&nbsp
    He pasado todos mis años como médico al lado de los pacientes, y sigo
    haciéndolo. Ahora, dedico mi tiempo casi exclusivamente al Consultorio. Antes,
    repartía mis horas entre el consultorio, el hospital y la sala de terapia intensiva.
    En los primeros años de mi ejercicio profesional, los internistas veíamos y
    tratábamos pacientes que hoy tratan los médicos especialistas. La tarea diaria
    incluía el lupus, las leucemias, las glomerulonefritis, la insuficiencia cardíaca, el
    EPOC, la fiebre prolongada, la endocarditis, las infecciones de todo tipo y
    muchas otras más. Hacíamos el diagnóstico y conducíamos los tratamientos,
    no había muchos especialistas y su papel era limitado. Los médicos en
    formación estudiaban Medicina Interna. La Cátedra de Medicina Interna
    englobaba todas las subespecialidades. Todas las que hoy tienen sus propias
    cátedras. Los clínicos adquirían una enorme experiencia. <br>&nbsp&nbsp&nbsp&nbsp
    Nuestra formación se centraba en las lecturas de los textos clásicos, como la
    Medicina Interna de Harrison, la de Cecil, y mucho después, la de Farreras.
    Siempre esperábamos con ansiedad las nuevas ediciones. Otra de nuestras
    lecturas eran las revistas en papel, como el New England of Medicine, Lancet,
    JAMA, Annals of Internal Medicine, British Medical Journal y otras. Asistíamos
    a Cursos y Congresos, y más adelante, los impartíamos nosotros. <br>&nbsp&nbsp&nbsp&nbsp
    Eran épocas lejanas en las que, increíblemente para los jóvenes, no había
    Internet. La biblioteca de la facultad de Medicina y la del Círculo Médico
    compraban las revistas extranjeras, años si, años no, según los avatares de la
    economía Argentina. <br>&nbsp&nbsp&nbsp&nbsp
    Retirado de la Terapia Intensiva, dedicado principalmente al consultorio, tengo
    en la actualidad más horas libres que me permiten leer todo lo nuevo en
    medicina y leer sobre las cosas que me interesan. <br>&nbsp&nbsp&nbsp&nbsp
    De ellas trata este blog, de las cosas que me interesan. Trato de hacerles llegar
    información que suele no ser destacada. Expreso opiniones que no son
    siempre ciertas. Opiniones a veces efímeras, sostenidas por lo que parece ser
    cierto hoy. Sobre muchos temas, solo podemos tener opiniones (doxa versus
    episteme) después de sopesar la información, siempre cambiante. Información
    que, seguramente, se aproxima a la verdad, de forma lenta en idas y venidas.
    Me preocupan muchas cosas de la Medicina actual. Lo cierto y lo incierto. La
    circunstancia de que lo que creemos cierto hoy en pocos años se vuelve falso,
    a veces catastróficamente falso. <br>&nbsp&nbsp&nbsp&nbsp
    Me preocupan las influencias que determinan la falsedad de muchas
    publicaciones, dejemos de lado el simple fraude, lamentablemente frecuente,    
    me refiero más bien a ciertas influencias que ya han tomado la forma de
    sistémicas. (1.2.3)
    Me preocupa y me asombra el surgimiento de la anticiencia en general, y en
    medicina, en particular, la magia rediviva. La aceptación de teorías médicas
    absurdas, el “terraplanismo médico”, el peligroso movimiento antivacunas.
    Interesado en la Medicina de la Longevidad, la Biogerontología, intento trasmitir
    novedades al respecto. En varios Congresos, he participado con ponencias
    sobre mecanismos del envejecimiento, tema que me apasiona.
    Soy viudo, padre de 4 hijos, 3 mujeres y 1 varón, 2 de ellos médicos. El varón
    hace Medicina Interna y Terapia Intensiva, y de las mujeres, una es neuróloga,
    una abogada y otra contadora. Además, soy abuelo de 7 nietos. Soy un gran
    lector, me interesan la ciencia y la historia. Soy lector de Borges, y encuentro
    que se lo puede releer asiduamente. Hace años que no leo novelas. No
    practico deportes, de joven intenté con el judo, sin éxito. También con el tenis,
    lo mismo. Actualmente, voy a un gimnasio, casi todos los días, camino en la
    cinta y luego hago pesas.
     <br>
    <br>
    1. Smith R. The trouble with medical journals. J R Soc Med.
    2006;99(3):115–119. doi:10.1258/jrsm.99.3.115.
    <br>
    2. Ioannidis, John. (2018). Professional Societies Should Abstain From
    Authorship of Guidelines and Disease Definition Statements.Circ Cardiovasc
    Qual Outcomes. 2018 Oct; 11(10):e004889.
    <br>
    3. Ioannidis JP. The Mass Production of Redundant, Misleading, and Conflicted
    Systematic Reviews and Meta-analyses. Milbank Q. 2016; 94(3):485–514
   </blockquote>

    <img src="../../static/images/jose.jpeg" alt="Jose Davidow" class="fotobio border" >

</div>
{% endblock %}