<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Inicio</title> 
    <style>
        body{
            background: #5771c7;
            }
        ul{
            list-style-type: none;
            color: #ffffff;
          }
    </style>

</head>

<body>
    <header>
        <nav>
            <ul>
            <li>
                <a href="home.html"><img src="../../images/logo.png" alt=""></a>
            </li>
            <li>
                <form>
                    <input type="text" name="buscar" id="buscar">
                    <input type="button" value="Buscar">
                </form>
            </li>   
             </ul>
            <ul>
                <li>Inicio</li>
                <li>Articulos</li>
                <li>Colaboraciones</li>
                <li>Acerca de Mi</li>
            </ul>
        </nav>
    </header>
    
</body>
</html>