<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li>
               <a href="#">
                    <img src="../../static/images/logo.png" alt="MCEI" width="90" height="90">
                </a>
            </li>
            <li class="links">
                
                    <a href="#" class="lnk">Inicio</a>
                    <a href="#" class="lnk">Articulos</a>
                    <a href="#" class="lnk">Colaboraciones</a>
                    <a href="#" class="lnk">Acerca de mi</a>
                    
            </li>
                       
        </ul>
        <form action="#" method="get">
            <input type="text" name="txtBuscar" id="txtBuscar">
            <input type="submit" value="Buscar" class="btnBuscar">
        </form>
    </nav>
    
</body>
</html>