<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Lo cierto e incierto en la medicina. Este es un blog de medicina.">
    <title>Medicina Cierta e Incierta</title>

    {% load static %}
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <link rel="icon" type="image/x-icon" class="js-site-favicon" href="{% static 'images/logoIni.png' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>


    <script src="{% static 'logic.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
</head>

<body>
    <header>
        {% include "blog/includes/navbar.html" %}
        
    </header>
    <div class="container-fluid titulo">
        <h3 class="tituloh3">Medicina Cierta e Incierta</h3>
        <h6 class="subtituloh6">Salud, longevidad y opiniones sobre lo cierto y <br> lo incierto en la medicina</h6>
    </div>

    {% include "blog/includes/toasts.html" %}


    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p class="text-muted"> © Derechos Reservados MCEI, 2021 </p>
    </footer>
</body>

</html>