<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Inicio</title> 
    
    {% load static %}
    <link  href="{% static 'blog/style.css' %}" rel="stylesheet">
    <link  href="{% static 'blog/master.css' %}" rel="stylesheet">
    
    
    

</head>

<body>
    <header>
        

        <nav class="mynav">
                <ul>
                    <li>
                       <a href="#">
                            <img src="../../static/images/logo.png" alt="MCEI" width="90" height="90">
                        </a>
                    </li>
                    <li class="links">
                        
                            <a href="#" class="lnk">Inicio</a>
                            <a href="#" class="lnk">Articulos</a>
                            <a href="#" class="lnk">Colaboraciones</a>
                            <a href="#" class="lnk">Acerca de mi</a>
                            
                    </li>
                               
                </ul>
                <form action="#" method="get">
                    <input type="text" name="txtBuscar" id="txtBuscar">
                    <input type="submit" value="Buscar" class="btnBuscar">
                </form>
        </nav>
            

        <div class="titulo">
            <h1>Salud, longevidad y opiniones sobre lo cierto y lo incierto en la medicina</h1>
        </div>
        <div class="fondo">
            <blockquote>
                El arte de la medicina consiste en entretener al paciente
                mientras la naturaleza cura la enfermedad.
                                Voltaire
            </blockquote>

        </div>
    </header>
    {% block content %}
    {% endblock %}

      
</body>
</html>