<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">    
    <title>Inicio</title> 
    
    {% load static %}
    <link  href="{% static 'blog/master.css' %}" rel="stylesheet">
    <link  href="{% static 'blog\bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link  rel="stylesheet" href="{% static 'blog/materialize.min.css' %}"  /> -->

</head>

<body>
    <header>
        <!-- <nav class="border-bottom">
                <ul class="barra">
                    <li>    
                        <a href="master.html"></a>
                        <img src="../../static/images/logo.png" alt="Medicina Cierta e Incierta" width="100" height="100">
                    </li>
                    
                
                    <ul class="barra2">
                        <li>
                            <form class="buscar">
                                    <input type="text" name="buscar" id="txtBuscar" >
                                    <input type="button" value="Buscar" id="btnBuscar">
                            </form>
                        </li>
                        <li class = "lnkList">
                            <li class="links"><a href="#">Inicio</a></li>
                            <li class="links"><a href="#">Articulos</a></li>
                            <li class="links"><a href="#">Colaboraciones</a></li>
                            <li class="links"><a href="#">Acerca de Mi</a></li>
                        </li>
                    </ul>
                </ul>
            
        </nav> -->

        <nav>
            <div>
                <ul>
                    <li>
                        <p>MCEI</p>
                            <!-- <img src="../../static/images/logo.png" alt="Medicina Cierta e Incierta" width="100" height="100"> -->
                    </li>
                    <li>
                        <a href="#">Inicio</a>                 
                        <a href="#">Articulos</a>
                        <a href="#">Colaboraciones</a>
                        <a href="#">Acerca de mi</a>
                    </li>
                    <li>
                        
                            <input type="text" name="buscar" id="buscar">
                            <input type="button" value="Buscar">
                        
                    </li>
                </ul>
            </div>
        </nav>

        <div class="titulo">
            <h1>Salud, longevidad y opiniones sobre lo cierto y lo incierto en la medicina</h1>
        </div>
        <div class="fondo">
            <blockquote>
                El arte de la medicina consiste en entretener al paciente
                mientras la naturaleza cura la enfermedad.
                                Voltaire
            </blockquote>

        </div>
    </header>
    {% block content %}
    {% endblock %}

      
</body>
</html>