{% extends 'blog/master.html' %}
{% block content %}
<br><br><br>
<h1 style="text-align: center; "> Sobre este blog</h1> <br><br><br>
<div class="sobre">
    <blockquote style="font-size: 0.8em;">
        Este blog está dedicado a mis pacientes, a mis amigos, a colegas que son amigos y al público interesado en temas
        médicos,
        salud y longevidad. Trato de no ser demasiado complejo y ser entendible, (probablemente lo logre de tanto en
        tanto). <br>
        Ofrece información, comentarios, reflexiones y opiniones sobre temas diversos de la medicina. Un tema que
        priorizo es el del envejecimiento y la longevidad.
        Es muy importante que el lector no acepte mis opiniones como consejos para su salud. La información publicada
        nunca puede sustituir ni reemplazar
        la necesaria relación personal entre un paciente y su médico.<br>
        Es indispensable que antes de aceptar para sí mismo alguna de las ideas, prácticas u observaciones que se
        mencionan, lo consulte con su médico de confianza,
        y sea ese médico el que le indique lo que debe hacer.<br>
        Baso mis opiniones en muchas fuentes de información. En todos los casos, ofreceré la correspondiente referencia.
        He leído personalmente todas las fuentes y
        he tratado de verificar su fiabilidad. Mis fuentes son, ante todo, revistas científicas de reputación
        indiscutida.<br>
        Dado que se denomina Medicina Cierta e Incierta, cabe aclarar que no tiene por fin ocuparse de las llamadas
        medicinas alternativas. No abro juicio sobre estas,
        aunque pueda hacer, ocasionalmente, alguna observación al respecto. Me ocupo, de forma exclusiva, de la medicina
        académica, alopática. La que se enseña en las
        Escuelas de Medicina de Universidades de prestigio, en el mundo. En esta medicina, hay a menudo algunas certezas
        y mucha incertidumbre.<br>

    </blockquote>
</div>
{% endblock %}